<div id="header">
  <h1>Quotes</h1>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#Home">Home</a></li>
          <li><a href="#Form">Quotes-form</a></li>
          <li><a href="#Quotes">Sample-quotes</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <img class="img-responsive" src="../assets/quotes2.png">
</div>
<div id="Home">
  <br>
  <h2 id="Home">Home</h2>
  <p>This is a simple website where one can add a quote to the website. </p>
  <p>One can also vote on the quotes that are on the page and one can also delete a quote from the page</p>
</div>
<app-quote-form></app-quote-form>