<div class="container" id="thee">
      
     <app-quote-form></app-quote-form>
  
    <div class="col-8" id="two">
      <div class="row" id="lol">
        <h3 id="Quotes">Memorable Quotes</h3>
      </div>
      <div class="quotes">
        <div class="row">
          <div class="card" id="crd" *ngFor='let quotes of quotes;let i = index'>
            <!--allows one by one display of the quotes-->
            <div class="card-title">
              <h5 font color="yellow" *ngIf="showDescription">{{quotes.name}}</h5>
            </div>
            <!--structural directive set to the boolean property show description -->
            <button type="button" (click)="toggleQuote()" class="btn btn-primary">{{showDescription? "Hide": "Show"}}
              Quote
              Details</button>
            <!-- click triggers event binding by calling the toggle fxn method -->
            <!-- toggles the value in the show description property and dynamically alter text on the button -->
            <!-- if true it shows the description -->
            <div class="card-body" id="ppp">
              <p id="{{i}}" appHighlight>{{quotes.quote}}</p>
            </div>
            <div class="card-footer" id="hut" *ngIf="showDescription">
              <!-- hides/shows votes, submitted by details-->
              <div class="row">
                <div class="col-4">
                  <p>
                    <app-vote></app-vote>
                    <app-quote-delete [quote]='quotes' (isComplete)='deleteQuote($event,i)'></app-quote-delete>
                  </p>
                  <!-- to show votes from vote app component + deleteQuote form -->
                </div>
                <div class="col-6" id="small">
                  <p> {{quotes.informant}}, {{quotes.completeDate|dateCount}} days ago</p>
                  <!--calls and displays date count pipe results-->
                </div>
                
                    
                
                
              </div>
            </div>
          </div>
  
        </div>
      </div>
  
  
    </div>